/*--Yueru_site--*/

/*--基本--*/
body {
  background-color: #E0F2F7;
  margin: 1px 5px 5px 5px;
  width: 100%;
}

/*--header基本--*/
header {
}
.head-img-group {
  background-color: #6495ED;
  width: 1335px;
  height: 150px;
}
.head-img1 {
  width: 230px;
  height: 150px;
  background-repeat: no-repeat;
  float: left;

}
.head-name {
  width: 770px;
  height: 150px;
  font-size: 20px;
  color: blue;
  background-color: white;
  float: left;
}
.head-img2 {
  width: 80%;
  height: 150px;
  background-repeat: no-repeat;
  float: left;
}

/* ulリセット */
.menu-, .menu-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* メニューを横並びに */
.menu-case {
  float: left;
}
.menu-:after {
  content: "";
  clear: both;
  display: block;
}
/* 子メニュー分の高さを除く */
.menu-list {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 10em;
}
/* 子メニューを表示 */
.menu-name:hover + .menu-list, .menu-list:hover {
  opacity: 1;
  z-index: 1;
}
/* ホバー時、メニュー名の色変更 */
.menu-case:hover .menu-name {
  color: #507ea4;
}
