/*--Yueru_site--*/

/*--基本--*/
body {
  background-color: #E0F2F7;
  margin: 0 10px 5px 5px;
}

/*--header基本--*/
.head-img-group {
  width: 100%;
  height: 150px;

}
.head-img1 {
  width: 20%;
  height: 150px;
  background-repeat: no-repeat;
  max-width: 800px; /* 最大幅 */
  min-width: 240px; /* 最小幅 */
}

.head-img2 {
  width: 60%;
  height: 150px;
  background-repeat: no-repeat;
  max-width: 800px; /* 最大幅 */
  min-width: 240px; /* 最小幅 */
}
