/*--Yueru_site--*/

/*--基本--*/
@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #e0f7ee;
  margin: 1px 5px 5px 5px;
  font-size: 30px;
}

/*--header基本--*/
.header-top-group {
  width: 100%;
  height: 300px;
}
.head-img1 {
  width: 45%;
  height: 300px;
  background-repeat: no-repeat;
  float: left;
}
.head-name {
  width: 55%;
  height: 300px;
  font-size:
  background-repeat: no-repeat;
  float: left;
}
.header-menu-bar {
  width: 100%;
  height: 100px;
  background-color: #b0c4de;
  margin-top: 2px;
}
/* ulリセット */
.header-menu-bar .menu-, .menu-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 36px;
}
/* メニューを横並びに */
.menu-case {
  width: 20%;
  height: 100px;
  float: left;
  text-align: center;
  border:solid #00ffff;
  border-width:2px 0px 2px 0px;
}
.menu-:after {
  content: "";
  clear: both;
  display: block;
}
/* 子メニュー分の高さを除く */
.menu-list {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 20%;
  background-color: #708090;
}
/* 子メニューを表示 */
.menu-name:hover + .menu-list, .menu-list:hover {
  opacity: 1;
  z-index: 1;
}
/* ホバー時、メニュー名の色変更 */
.menu-case:hover .menu-name {
  color: #507ea4;
  background-color: #87ceeb;
  height: 70px;
}
.menu-name {
  width: 20%;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0px 15px 0px;
  display: table-cell;
}
/*--/header基本--*/


/*--共通基本--*/
.non-line {
  text-decoration: none;
}
/*--/共通基本--*/

.contents {
  z-index: 0;
  font-size: 16px;
}
.page-txt {
  margin: 30px 0 0;
  height: 2000px;
}
#modal-open {
  color: #cc0000;
}

/* モーダル コンテンツエリア */
#modal-main {
  display: none;
  z-index: 3;
  width: 93%;
  height: 300px;
  margin: 0;
  padding: 0;
  position:fixed;
  background-color: #ffffff;
  color: #666666;
}

/* モーダル 背景エリア */
#modal-bg {
  display:none;
  width:100%;
  height:130%;
  background-color:rgba(0,0,0, 0.50);
  position:fixed;
  top:0;
  left:0;
  z-index: 2;
}
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 15%;
  width: 100%;
  height: 300px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
#loader img {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display: block;
  max-width: 100%;
  max-height: 50%;
  zoom: 120%;
}
