/*--Yueru_site--*/

/*--基本--*/
@charset "utf-8";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #e0f7ee;
  margin: 1px 5px 5px 5px;
  font-size: 30px;
}

/*--header基本--*/
header {
  text-align: center;
}
.not_found {
  font-size: 60px;

}
/*--contents基本--*/
.contents {
  z-index: 0;
  font-size: 16px;
}
